.addBox{
  border: 1px dashed #d9d9d9;
  padding: 20px;
  cursor: not-allowed;
  &:hover{
    border-color: #1890ff;
  }
  &:focus{
    outline: none;
  }
  >p{
    text-align: center;
    >i{
       font-size: 30px;
    }
    >span{
     font-size: 16px;
    }
  }
}
